<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="rednose-ui">
    <head>
        <title>Todo App Demo - Loading...</title>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="rednose-ui/rednose-ui/rednose-ui.css" rel="stylesheet"/>

        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <script src="http://yui.yahooapis.com/3.17.2/build/yui/yui.js"></script>

        <script src="rednose-ui/rednose-loader/rednose-loader.js"></script>
        <script src="{{ asset('bundles/rednosetodo/js/build/todo-loader/todo-loader.js') }}"></script>

        <script>
            YUI.Env.core.push('rednose-loader');
            YUI.Env.core.push('todo-loader');

            YUI({
                'groups': {
                    'rednose-ui': {
                        base: 'rednose-ui/'
                        {% if app.debug %}, filter: 'raw'{% endif %}
                    },
                    'todo': {
                        base: '{{ asset('bundles/rednosetodo/js/build') }}/'
                        {% if app.debug %}, filter: 'raw'{% endif %}
                    }
                }
                {% if app.debug %}, filter: 'raw'{% endif %}
            }).use('node', 'todo-app', function (Y) {
                var app = new Y.TodoApp.App({
                    container: Y.one('.app-container'),
                    debug: false
                });

                app.render();
            });
        </script>
    </head>
    <body class="yui3-skin-sam" style="overflow: hidden;">
        <div class="app-container"></div>
    </body>
</html>