
.rednose-todo-app .rednose-viewport {
    padding: 12px;
}

/* The top border is ugly */
.rednose-todo-app .rednose-viewport th {
    border-top: 0;
}

.rednose-todo-app .rednose-viewport > div {
    padding: 12px 12px 0 12px;

    background-color: #ffffff;

    border: 1px solid #ddd;
    border-radius: 4px 0;
}

.rednose-todo-app .rednose-viewport .icon-remove {
    cursor: pointer;
}

.rednose-todo-app .rednose-viewport input[type=checkbox] {
    width: 100%;
}

.rednose-todo-app .rednose-unit-right > div {
    padding: 0 12px 12px 12px;
}